/crash-reports
/downloads
/journeymap
/logs
/MainServer
/mods
/resourcepacks
/saves
/server-resource-packs
/shaderpacs
/snapshots-server


.mixin.out/

BotaniaVars.dat

crafttweaker.log

manifest.json

minecraftinstance.json

OpenComputersMod-1.7.5.192-lua52-native.64.dll

OpenComputersMod-1.7.5.192-lua53-native.64.dll

options.txt

optionsof.txt

servers.dat

usercache.json

usernamecache.json
